nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

}

main
{
    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

th {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

img {
    width: 30vw;
    height: 30vw;
    text-align: center;
}

.greenText
{
    color: #27ae60;
}

.greenColor
{
    background-color: #27ae60;
}

.card-tabs-1 {
    z-index: -1;
    margin-top: -1px;
}

.card-tabs-2 .card-header {
    padding-bottom: 0;
}

.card-tabs-2 .nav-tabs {
    margin: -1px;
}

.card-tabs-3 .card-header {
    padding: 0;
}

.card-tabs-3 .nav-tabs {
    margin: -1px;
}

.card-title {
    margin-top:1em;
}

.card-columns {
    margin-left:1em;
    margin-right:1em;
}

.bg-light {
    margin-bottom:1em;
}

.force_width {
    width: 100% !important;
    height: 10em !important;
    overflow: hidden;
}

.homeImage {
    width: 100%;
    height: 10%;
}

.center {
    text-align: center;
}

.card-text {
    padding: 1px;
}